/* common */

a { color: #000000; text-decoration: none; }
a:hover { color: #333333; text-decoration: underline;}

a img:hover { opacity: 0.6;}

#base {
  width:1100px;
  margin: 0px auto;
}

#top{
  width:1100px;
  margin: 0px auto;
  padding-top:30px;
}

#top .online {
  float:right;
}

#top .logo {
  text-align:center;
  margin-left:300px;
  padding-bottom:28px;
}

#top .online {
  padding-right:100px;
}

#inner{
  width:1100px;
  margin: 0px auto;
}

#inner .center{
  text-align:center;
}

#inner .intro .title{
  font-size:22px;
  font-weight:bold;
}

#inner .intro {
  font-size:13px;
  line-height:2.4em;
}

#inner .top-box {
/*  background-color:#89c800;
*/
  background-image: url(../images/lp/green_bg.png);
  background-repeat: no-repeat;
  width:860px;
  height:295px;
  color:#ffffff;
  text-align:center;
  margin: 40px auto 0;
  padding: 25px 0;
}

#inner .top-box .title {
  font-size:20px;
  line-height:30px;
}

#inner .top-box .date {
  font-size:20px;
  font-weight:bold;
}

#inner .top-box .line1 {
  padding:20px 0 10px 0;
}

#inner .top-box .line2 {
  padding:10px 0 20px 0;
}

#inner .top-box .text {
  text-align:left;
  padding:15px 40px 0 40px;
  line-height:1.8em;
}

#inner .top-box .text2 {
  text-align:left;
  padding:10px 40px 0 40px;
  line-height:1.8em;
}

#inner .menu {
  margin-top:50px;
}

#inner .menu ul.category {
  width:900px;
  margin:0 auto;
}

#inner .menu li{
  float:left;
  margin-left:30px;
}

#inner .menu .category img {

}

/* product_category */
#inner h4 {
 font-size: 18px;
}

#inner .wrapper .clearfix {
  clear: both;
  content: "";
}

#inner .wrapper {
  width:900px;
  margin: 0 auto;
}

#inner .wrapper .right h5 {
  margin: 0 0 10px;
}

/* product_haircare */

#inner .haircare .text {
  width:860px;
  padding:0 20px;
  line-height:1.8em
}

#inner .haircare h3 img{
  margin-top:30px;
}

#inner .haircare .price {
  padding:30px 0 20px 20px;
  font-weight:bold;
}

#inner .haircare .left {
  float:left;
  margin-left: 10px;
}

#inner .haircare .right {
  background: #ffffff;
  background-image: url(../images/lp/ingredient_box01.png);
  background-repeat: no-repeat;
  width: 380px;
  height:208px;
  float: right;
  font-weight:bold;
  line-height:1.8em;
  padding:23px 12px 0px 12px;
}

#inner .haircare .right span.green {
  color:#89c800;
}

#inner .bodycare h3{
  padding-top:110px;
}


#inner .bg_additional {
  background-image:
  url(../images/lp/rain_bg02.png);
  background-repeat:no-repeat;
  background-position:left 1030px;
}

#inner .bodycare {
  background-image:
url(../images/lp/rain_bg.png),
url(../images/lp/acai_papaya_bg.png);
  background-repeat:no-repeat, no-repeat ;
  background-position: right -2px, right 970px;
  padding-bottom: 100px;
}

#inner .bodycare .text {
  width:860px;
  padding:0 20px;
  line-height:1.8em;
  padding-bottom:15px;
}

#inner .bodycare .price {
  font-weight:bold;
  padding-left:20px;
}

#inner .bodycare .left {
  float:left;
  margin-top: 33px;
  margin-left: 10px;
}

#inner .bodycare .right {
  margin-top:33px;
  background: #ffffff;
  background-image: url(../images/lp/ingredient_box03.png);
  background-repeat: no-repeat;
  float: right;
  width: 293px;
  height:189px;
  font-weight:bold;
  line-height:1.8em;
  padding:23px 12px 0 12px;
  margin-right: 10px;
}

#inner .bodycare .right {
  margin-top:33px;
}

#inner .bodycare .right span.green {
  color:#89c800;
}

#inner .uvcare {
  background-image:
  url(../images/lp/tree_bg.png);
  background-repeat: no-repeat;
  background-position: 950px 800px;
  padding-bottom: 100px;

}

#inner .uvcare .text {
  width:860px;
  padding:0 20px;
  line-height:1.8em
}

#inner .uvcare .price {
  padding:30px 0 20px 20px;
  font-weight:bold;
}

#inner .uvcare .left {
  float:left;
  margin-left: 10px;
}

#inner .uvcare .right {
  margin-top:8px;
  background-image: url(../images/lp/ingredient_box02.png);
  background-repeat: no-repeat;
  float: right;
  width: 380px;
  height:135px;
  font-weight:bold;
  line-height:1.8em;
  margin-right: 10px;
  padding:23px 12px 0;
}

#inner .uvcare .right span.green {
  color:#89c800;
}

#inner .oralcare {
  padding-bottom: 100px;
}

#inner .oralcare .text {
  width: 860px;
  padding: 0 20px;
  line-height: 1.8em
}

#inner .oralcare .price {
  padding: 30px 0 20px 20px;
  font-weight: bold;
}

#inner .oralcare .left {
  float:left;
  margin-left: 10px;
}

#inner .oralcare .right {
  margin-top:8px;
  background-image: url(../images/lp/ingredient_box02.png);
  background-repeat: no-repeat;
  float: right;
  width: 380px;
  height: 135px;
  font-weight: bold;
  line-height: 1.8em;
  margin-left: 10px;
  padding: 23px 12px 0 12px;
}

#inner .oralcare .right span.green {
  color:#89c800;
}

#inner .about {
  clear: both;
  text-align:center;
  background-image:
  url(../images/lp/raindrop_bg.png);
  background-repeat: no-repeat;
  background-position: 780px 230px;
  padding-bottom: 50px;
}

#inner .about .text{
  text-align:left;
  line-height:1.8em;
}

#inner .about img{
  padding-bottom:24px;
}

#inner .about .green {
  text-align:left;
  color:#89c800;
  font-weight:bold;
  padding:30px 0 18px 0;
}

#inner .brand {
  text-align:center;
  background-image:
  url(../images/lp/withherb_bg.png);
  background-repeat: no-repeat;
  background-position: 850px 360px;
}

#inner .brand p.topimage {
  padding-bottom:32px;
}

#inner .brand p.point,
#inner .brand p.text {
  text-align:left;
  line-height:1.8em;
}

#inner .brand p.green{
  text-align:left;
  color:#89c800;
  font-weight:bold;
  padding:30px 0 18px 0;
}

#inner .brand p.right_line {
  float:left;
}

#inner .brand p.text{
  padding-bottom:20px;
}

#inner .brand p.point{
  padding: 0 15px;
}

#inner .brand p.point span.green {
  color:#89c800;
}

#inner .brand p.small {
  font-size:11px;
  text-align:left;
  line-height: 1.2em;
  padding: 5px 15px 0;
}

#inner .online_footer {
  float:right;
  padding-top:80px;
  padding-right:100px;
}

#page-top {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: 400px;
}


#inner .foot{
  width:1100px;
  margin: 0 auto;
  margin-top:170px;
  text-align:center;
}

#inner .foot h2{
  padding-top:20px;
  padding-bottom:40px;
}

#inner .foot p.link {
  line-height: 1.6em;
}
#inner .foot p.link a:after {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 1px;
  height: 12px;
  background-color: #000;
  margin: 0 10px;
}
#inner .foot p.link a.al:after {
  white-space: pre;
  content: "\a";
  margin-right: 0;
  display: inline;
}
#inner .foot p.link a.last:after {
  content: none;
  margin: 0;
}
#inner .foot p.copyright {
  margin-top: 20px;
  margin-bottom:50px;
}
